<div class="work-section row">
<div class="container new-section">
  <h2 class="center">Things I've Done</h2>
  <div id="giftanswers" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("giftanswers-logo.png", :class => "work-logo", :alt => "GiftAnswers Logo"), "https://giftanswers.com" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "https://giftanswers.com" do %>
            <h3>GiftAnswers</h3>
          <% end %>
          <p><strong>Founder</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Houston, TX</strong></p>
          <p><em>Feb 2017 - July 2017</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Created fully functional web prototype, which has functionality for accounts, recommendation system, email notifications, using gift/personality data.</p>
          <p>Drafted a recommendation algorithm for gifts within the web prototype.</p>
          <p>Designed product following UX principles using surveys, guided discussions, interviews, and user activity metrics.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="anjin" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("anjin-logo.png", :class => "work-logo", :alt => "Anjin Logo"), "https://anjinsecure.com" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "https://anjinsecure.com" do %>
            <h3>Anjin Services</h3>
          <% end %>
          <p><strong>Software Consultant</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Houston, TX</strong></p>
          <p><em>May 2017</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Added location-specific booking and pricing tool to the website using Google Places API.</p>
          <p>Refactored website and database to minimize storage space.</p>
          <p>Moved hosting from Azure to AWS to reduce hosting costs.</p>
          <p>Updated look of website forms.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="wellogdata" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("welllogdata-icon.gif", :class => "work-logo", :alt => "WellLogData Logo"), "http://www.welllogdata.com" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "http://www.welllogdata.com" do %>
            <h3>Well Log Data</h3>
          <% end %>
          <p><strong>Software Consultant</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Houston, TX</strong></p>
          <p><em>May 2017</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Updated form design using wireframe references.</p>
          <p>Assisted with research of bugs in PHP.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="keais" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("keais-logo.png", :class => "work-logo", :alt => "Keais Logo"), "https://www.keais.com" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "https://www.keais.com" do %>
            <h3>Keais Records Services</h3>
          <% end %>
          <p><strong>Software Developer</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Houston, TX</strong></p>
          <p><em>Aug 2014 - Feb 2017</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Created internal applications for automation, content management, and workflow optimization.</p>
          <p>Reviewed the code of other developers before deployments.</p>
          <p>Assisted in deployments and deployment automation for our internal application infrastructure</p>
          <p>Worked with and acted as technical lead for an offshore team of developers</p>
          <p>For certain projects, fulfilled the responsibilities of product manager and designer alongside development.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="cmu-hcii" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("hci-logo.png", :class => "work-logo", :alt => "Carnegie Mellon Human Computer Interaction Institute Logo"), "https://www.hcii.cmu.edu/" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "https://www.hcii.cmu.edu" do %>
            <h3>Human Computer Interaction Institute at Carnegie Mellon University</h3>
          <% end %>
          <p><strong>REU Researcher</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Pittsburgh, PA</strong></p>
          <p><em>Summer 2013</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Designed, prototyped, and ran a pilot study about the effects of how different types of social groups affect the strength of internet communities, on Mechanical Turk.</p>
          <p>Created a website that tracked user actions and provided forums for communication, as part of the study</p>
          <p>Poster of results <a href="#">here.</a>
        </div>
      </div>
    </div>
  </div>
  <div id="oprestissimo" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("oprestissimo-logo.png", :class => "work-logo", :alt => "Oberlin College's OPrestissimo.com"), "https://oprestissimo.com" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "https://oprestissimo.com" do %>
            <h3>OPrestissimo</h3>
          <% end %>
          <p><strong>Developer</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Oberlin, OH</strong></p>
          <p><em>Winter 2013</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Worked on a team to update Oberlin's student-made course search website <a href="www.oprestissimo.com/about">www.oprestissimo.com</a> with additional user functionality and interactivity.</p>
          <p>Updated the user page, created a course schedule calendar, and assisted with minor bugs.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="cnxn" class="row achievement">
    <div class="col-md-3">
      <!-- image goes here! -->
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "#" do %>
            <h3>CnXn</h3>
          <% end %>
          <p><strong>Assistant Programmer</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Oberlin, OH</strong></p>
          <p><em>Spring 2013</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Created google maps application for presentation website and database for a startup social network for athletes (pitch website deprecated), for showcasing at events and sponsorship meetings.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="lab-assistant" class="row achievement">
    <div class="col-md-3">
      <%= link_to image_tag("occs-logo.png", :class => "work-logo", :alt => "Oberlin College's Computer Science Department"), "https://www.cs.oberlin.edu" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "https://www.cs.oberlin.edu" do %>
            <h3>Oberlin College Computer Science Department</h3>
          <% end %>
          <p><strong>T.A. Lab Helper / Grader</strong></p>
        </div>
        <div class="col-xs-6 text-right side-info">
          <p><strong>Oberlin, OH</strong></p>
          <p><em>Jan 2012 - Dec 2012</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Assisted students in lab class with Java programming and problem solving.</p>
          <p>Graded labratory assignments and provided feedback to students in a self-directed work environment.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
